# 0. selenium 설치

In [1]:
!pip install chromedriver_autoinstaller

Requirement already satisfied: chromedriver_autoinstaller in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (0.3.1)

In [2]:
!pip install selenium

Requirement already satisfied: selenium in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (4.2.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: wsproto>=0.14 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from urllib3[secure,socks]~=1.26->selenium) (22.0.0)
Requirement already satisfied: certifi in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from urllib3[secure,socks]~=1.26->selenium) (2022.6.15)
Requirement already satisfied: cryptography>=1.3.4 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from urllib3[secure,socks]~=1.26->selenium) (37.0.2)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cffi>=1.12 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Requirement already satisfied: pycparser in /Users/krc/downloads/yes/envs/dl/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=1.3.4->urllib3[secure,socks]~=1.26->selenium) (2.21)

# 1. 라이브러리 불러오기

In [1]:
# 라이브러리
import numpy as np
import pandas as pd
import requests # 크롤링에 사용하는 패키지
from bs4 import BeautifulSoup # html 변환에 사용함


from selenium import webdriver
from selenium.webdriver.common.alert import Alert
from selenium.webdriver.common.keys import Keys
from selenium.webdriver import ActionChains as AC

import chromedriver_autoinstaller

# tqdm : for문 진행상황 체크
from tqdm import tqdm, tqdm_notebook
from tqdm.notebook import tqdm


# 정규표현식(regular expression) : 문자(알파벳,한글), 숫자, 특수기호 정제 및 추출
import re
from time import sleep
import time


# 워닝 무시
import warnings
warnings.filterwarnings('ignore')

# 2. 데이터 크롤링

In [47]:
def open_chrome():
    ## 크롬 윈도우 설정
    # 크롬 드라이버 위치 설정
    chrome_path = chromedriver_autoinstaller.install()


    # 크롬 옵션
    options = webdriver.ChromeOptions()
    # 크롬 윈도우 사이즈 조절
    options.add_argument("--window-size=800,1400")

    driver = webdriver.Chrome(chrome_path, options=options)

    # 실행할 시간 랜덤값 지정
    A = np.random.randint(5,7)
    
    return driver , A

##### 참고

- find_elements_by_tag_name:          Copy Element의 tag
- find_elements_by_xpath:             Copy XPath 또는 Copy full XPath
- find_elements_by_id:                Copy Element의 id attribute
- find_elements_by_class_name:        Copy Element의 class attribute
- find_elements_by_link_text:         Copy Element의 text
- find_elements_by_partial_link_text: Copy Element의 text중 일부
- find_elements_by_css_selector:      Copy selector


- '요소' 클릭:        	.click('')   
- '요소' 더블 클릭:	     .double_click('')   
- '텍스트' 입력:	         .send_keys('')  
- '요소'에 '텍스트' 입력:	  .send_keys_to_element('','')  
- '요소'로 마우스 이동:	  .move_to_element('')
- 스크롤 내리기:	         .execute_script("window.scrollto();")
- 실행:                  .perform()

## 2. 선수 데이터 크롤링 (시즌 & 클럽 경력 추가 part)

각 선수별 시즌, 클럽 경력을 가져온 뒤, 'name'과 세부 능력치 기준으로 merge 예정!

In [3]:
# 선수명 csv파일 불러오기
player_name = pd.read_csv('./data/player_info/player.csv')
search_name_list = list(player_name['play_name'])

In [4]:
# 중복값 제거
search_name_list = list(set(search_name_list))

> 정지된 기록

<br>

|구간|원인|비고|
|---|---|---|
|0 ~ 1233|        * 카톡 로그아웃||
|1234 ~ 14067|    * 검색 결과 오류  |    +동명이인 1차 업데이트: '동명이인' 출력|
|14068 ~ 20243|   * 검색 결과 오류 |     +동명이인 2차 업데이트: +'temp_name'|
|20244 ~ 22505|   * 검색 결과 오류|      +동명이인 3차 업데이트: +'search_name'|
|22506 ~ 23449|   * 검색 결과 오류|  'N. 메사투' 검색결과 없음 (number = 23450)|
|23451 ~ 25034|   * 검색 결과 오류||
|25035 ~ 30961|   * 사용할 수 없는 페이지|+'검색 결과 오류' 예외처리 업데이트|
|30962 ~ 32411|   * 검색어 입력 에러||
|32412 ~ 36644|   * 완료!||

<br><br>

> 후처리 과정에서의 편의를 위해 다시 크롤링 진행 (~ 22505)

by 동명이인 3차 업데이트 ver.

<br>

|구간|원인|비고|
|---|---|---|
| 0 ~ 7565 |* 검색어 입력 오류|+ 오류 발생시 초기화 버튼 누르기|
| 7566 ~ 16057 |* 사용할 수 없는 페이지| + 페이지 오류시 대처 코드 추가|
| 16058 ~ 16394 |* 클릭 오류||
| 16395 ~ 17984 | * 검색결과 너무 많음 (검색명: 안드레)||
| 17985 ~ 19444 |* 사용할 수 없는 페이지||
| 19445 ~ 20243|완료!| + 동명이인 2차 업데이트 구간까지 크롤링|

In [63]:

# 정지된 위치 확인
def find_end(last_search_name):
    for i in range(len(search_name_list)):
        if search_name_list[i] == last_search_name:
            print(i)


find_end('코리 베어드')

20917

In [6]:
# 클럽 활동 연도 & 클럽 팀 합치기
def year_and_team_merge(temp_club_career):
    global temp_club_career_2
    temp_club_career_2 = []
    year = []
    team = []
    

    for i in range(1,len(temp_club_career.split('\n'))):
        if i % 2 == 0:
            year.append(temp_club_career.split('\n')[i])
        else:
            team.append(temp_club_career.split('\n')[i])


    for i in range(len(year)):
        temp_club_career_2.append(year[i]+' / '+team[i])
        
    return temp_club_career_2

In [67]:
# chrome 창 열기
driver, A = open_chrome()

## 선수 정보 >> 각 선수의 시즌 & 클럽 경력 크롤링
# 선수 정보 리스트
name = []
season = []
club_career = []
pay_side = []
overall = []
Sprint_speed = []
Acceleration =[]
Strength = []
Stamina = []
error_name = []

# 홈페이지 열기
url = 'https://fifaonline4.nexon.com/datacenter'
driver.get(url)

# # 팝업창 닫기
# driver.find_element_by_xpath('//*[@id="wrapper"]/div[1]/a/span').click()
# time.sleep(A)

# 정지된 위치부터 다시 시작 
for search_name in tqdm(search_name_list[20917:22506]):
   try:
      # 선수명 입력 & 검색
      driver.find_element_by_class_name('ui-autocomplete-input').click()
      driver.find_element_by_class_name('ui-autocomplete-input').send_keys(search_name)
      driver.find_element_by_class_name('btn_search').click()
      time.sleep(2.5)


      # 세부 설명 들어가기
      driver.find_element_by_class_name('name').click()
      driver.find_element_by_class_name('btn_detail_link').click()
      time.sleep(0.5)
      
      
      # 창 변경
      driver.switch_to.window(driver.window_handles[-1])
      time.sleep(1)
      
      
      # 클럽 경력 추출
      temp_club_career = driver.find_element_by_xpath('//*[@id="middle"]/div/div/div[4]/div[1]/div[2]/div[2]').text
      temp_club_career_2 = year_and_team_merge(temp_club_career)
      
      
      # 세부 설명 나오기
      driver.close()
      time.sleep(0.5)

      
      # 창 변경
      driver.switch_to.window(driver.window_handles[0])
      time.sleep(0.5)



      # 검색된 선수 숫자 세기
      player_list = driver.find_elements_by_xpath('//*[@id="divPlayerList"]')
      player_list_num = player_list[0].text.count(f'{search_name}')



      # 시즌, 이름, 급여, 오버롤, 속력, 가속력, 몸싸움, 스태미너 추출
      for num in range(1,player_list_num+1):
         # 이름 저장
         temp_name = driver.find_element_by_xpath(f'//*[@id="divPlayerList"]/div[{num}]/div[1]/div/div[4]/div[2]').text
         name.append(temp_name)
         
         # 클럽 경력 저장
         # 같이 검색된 동명이인 처리
         if search_name == temp_name:
            club_career.append(temp_club_career_2)
         else:
            club_career.append('동명이인'+search_name)

         # 시즌 저장
         temp_season = driver.find_element_by_xpath(f'//*[@id="divPlayerList"]/div[{num}]/div[1]/div/div[4]/div[1]/img')
         temp_season = temp_season.get_attribute('src').split('/')[-1].replace('.png','')
         season.append(temp_season)
   
         # 급여 저장
         temp_pay_side = driver.find_element_by_xpath(f'//*[@id="divPlayerList"]/div[{num}]/div[2]/span').text
         pay_side.append(temp_pay_side)
       
         # 오버롤 저장
         temp_overall = driver.find_element_by_xpath(f'//*[@id="divPlayerList"]/div[{num}]/div[3]/span/span').text
         overall.append(temp_overall)
         
         # 속력 저장
         temp_Sprint_speed = driver.find_element_by_xpath(f'//*[@id="divPlayerList"]/div[{num}]/div[4]/span/span').text
         Sprint_speed.append(temp_Sprint_speed)
         
         # 가속력 저장
         temp_Acceleration = driver.find_element_by_xpath(f'//*[@id="divPlayerList"]/div[{num}]/div[5]/span/span').text
         Acceleration.append(temp_Acceleration)
         
         # 몸싸움 저장
         temp_Strength = driver.find_element_by_xpath(f'//*[@id="divPlayerList"]/div[{num}]/div[6]/span/span').text
         Strength.append(temp_Strength)
         
         # 스태미너 저장
         temp_Stamina = driver.find_element_by_xpath(f'//*[@id="divPlayerList"]/div[{num}]/div[7]/span/span').text
         Stamina.append(temp_Stamina)
      

      # 검색어 초기화 
      driver.find_element_by_class_name('btn_reset').click()
      time.sleep(1)
   
   except:
      if driver.find_element_by_xpath('//*[@id="divPlayerList"]/div/span').text == '검색 결과가 없습니다.':
         error_name.append(search_name)
         print(f'error(검색 결과가 없습니다.): {search_name}')
         
         # 검색어 초기화 
         driver.find_element_by_class_name('btn_reset').click()
         pass
      
      elif driver.find_element_by_xpath('//*[@id="ErrorMessage"]').text == '사용할 수 없는 페이지입니다.':
         error_name.append(search_name)
         print(f'error(사용할 수 없는 페이지입니다.): {search_name}')
         
         # 창 닫기
         driver.close()
         time.sleep(0.5)

         # 창 변경
         driver.switch_to.window(driver.window_handles[0])
         time.sleep(0.5)
         
         # 검색어 초기화 
         driver.find_element_by_class_name('btn_reset').click()
         pass
         
      else:
         error_name.append(search_name)
         print(f'error: {search_name}')
         break
      
             
# dict로 변형 & 데이터 프레임화
dict_temp = {  'name': [val for val in name],
               'pay_side': [val for val in pay_side],
               'overall': [val for val in overall],
               'Sprint_speed': [val for val in Sprint_speed],
               'Acceleration': [val for val in Acceleration],
               'Strength': [val for val in Strength],
               'Stamina': [val for val in Stamina],
               'season': [val for val in season],
               'club_career': [val for val in club_career]                            
}
columns = ['name','pay_side','overall','Sprint_speed','Acceleration','Strength','Stamina','season','club_career']

player_info_plus = pd.DataFrame(data = dict_temp, columns=columns)

  0%|          | 0/1589 [00:00<?, ?it/s]

In [58]:
# dict로 변형 & 데이터 프레임화
dict_temp = {  'name': [val for val in name],
               'pay_side': [val for val in pay_side],
               'overall': [val for val in overall],
               'Sprint_speed': [val for val in Sprint_speed],
               'Acceleration': [val for val in Acceleration],
               'Strength': [val for val in Strength],
               'Stamina': [val for val in Stamina],
               'season': [val for val in season],
               'club_career': [val for val in club_career]                            
}
columns = ['name','pay_side','overall','Sprint_speed','Acceleration','Strength','Stamina','season','club_career']

player_info_plus = pd.DataFrame(data = dict_temp, columns=columns)

In [68]:
# 데이터 확인
player_info_plus

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
0,코리 베어드,5,58,72,70,64,63,LIVE,[]
1,세르지 타베쿠,5,60,78,81,66,76,20,[]
2,M. 달레산드로,5,65,79,81,36,64,LIVE,[]
3,E. 사히티,5,66,77,77,48,65,LIVE,[]
4,데마라이 그레이,13,82,95,97,67,78,GR,"[2021 ~ 2021 / 에버턴, 2016 ~ 2021 / 바이엘 04 레버쿠젠,..."
...,...,...,...,...,...,...,...,...,...
3133,J. 에마누엘-토머스,5,62,69,60,75,52,17,동명이인J. 에마누엘
3134,J. 에마누엘,5,60,74,70,75,69,LIVE,[]
3135,J. 에마누엘-토머스,5,60,56,55,75,51,21,동명이인J. 에마누엘
3136,A. 페데르센,5,48,40,38,48,42,18,[]
3137,E. 쇠르회위,5,53,61,62,63,55,19,[]

In [69]:
# 이전 csv 파일 불러오기
player_info_plus_before = pd.read_csv('./data/player_info/player_info_plus.csv')


# 데이터 프레임 병합
# 이전 csv 파일 불러오기
New_player_info_plus = pd.concat([player_info_plus_before,player_info_plus], ignore_index=True)
New_player_info_plus

# csv 파일로 저장
New_player_info_plus.to_csv("./data/player_info/player_info_plus.csv", encoding='utf-8-sig', index = False)

In [70]:
# merge 전 파일 확인
player_info_plus_before

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
0,슈테펜 호프만,5,62,39,51,59,38,17,[]
1,조 에드워즈,5,60,62,64,65,83,LIVE,[]
2,J. 피에라치,5,60,59,55,68,66,18,[]
3,김도훈,21,99,96,89,106,90,TKL,"['1995 ~ 2002 / 성남 FC', '1998 ~ 1999 / 전북 현대 모..."
4,김도훈,17,88,84,77,97,86,TKI,"['1995 ~ 2002 / 성남 FC', '1998 ~ 1999 / 전북 현대 모..."
...,...,...,...,...,...,...,...,...,...
99231,데이비드 베컴,23,104,99,96,89,109,CAP,"['2007 ~ 2013 / 파리 생제르맹', '2010 ~ 2010 / LA 갤럭..."
99232,데이비드 베컴,22,103,97,95,87,109,NTG,"['2007 ~ 2013 / 파리 생제르맹', '2010 ~ 2010 / LA 갤럭..."
99233,데이비드 베컴,21,101,93,91,93,108,EBS,"['2007 ~ 2013 / 파리 생제르맹', '2010 ~ 2010 / LA 갤럭..."
99234,J. 카위스펄,5,54,59,61,56,53,20,[]
99235,노아 칠버스,5,58,70,69,62,70,LIVE,[]

In [71]:
# merge 후 파일 확인
New_player_info_plus

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
0,슈테펜 호프만,5,62,39,51,59,38,17,[]
1,조 에드워즈,5,60,62,64,65,83,LIVE,[]
2,J. 피에라치,5,60,59,55,68,66,18,[]
3,김도훈,21,99,96,89,106,90,TKL,"['1995 ~ 2002 / 성남 FC', '1998 ~ 1999 / 전북 현대 모..."
4,김도훈,17,88,84,77,97,86,TKI,"['1995 ~ 2002 / 성남 FC', '1998 ~ 1999 / 전북 현대 모..."
...,...,...,...,...,...,...,...,...,...
102369,J. 에마누엘-토머스,5,62,69,60,75,52,17,동명이인J. 에마누엘
102370,J. 에마누엘,5,60,74,70,75,69,LIVE,[]
102371,J. 에마누엘-토머스,5,60,56,55,75,51,21,동명이인J. 에마누엘
102372,A. 페데르센,5,48,40,38,48,42,18,[]
102373,E. 쇠르회위,5,53,61,62,63,55,19,[]

# 3. 데이터 후처리

In [225]:
# 데이터 불러오기
data = pd.read_csv('./data/player_info/player_info_plus.csv')
data

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
0,슈테펜 호프만,5,62,39,51,59,38,17,[]
1,조 에드워즈,5,60,62,64,65,83,LIVE,[]
2,J. 피에라치,5,60,59,55,68,66,18,[]
3,김도훈,21,99,96,89,106,90,TKL,"['1995 ~ 2002 / 성남 FC', '1998 ~ 1999 / 전북 현대 모..."
4,김도훈,17,88,84,77,97,86,TKI,"['1995 ~ 2002 / 성남 FC', '1998 ~ 1999 / 전북 현대 모..."
...,...,...,...,...,...,...,...,...,...
97834,곤살로 아시스,5,62,68,74,61,71,LIVE,[]
97835,곤살로 아시스,5,56,56,64,55,61,18,[]
97836,마를롱 한젤,5,59,48,43,68,54,18,[]
97837,S. 쿨로비츠,5,59,34,35,56,67,19,[]
97838,M. 데이비슨,5,58,46,43,69,75,LIVE,[]

In [209]:
# 결측값 확인
data.isna().sum()

name            0
pay_side        0
overall         0
Sprint_speed    0
Acceleration    0
Strength        0
Stamina         0
season          0
club_career     0
dtype: int64

In [204]:
# 중복값 처리
data.drop_duplicates(subset = ['name',
                               'pay_side',
                               'overall',
                               'Sprint_speed',
                               'Acceleration',
                               'Strength',
                               'Stamina',
                               'season',
                               'club_career'], keep = 'last', inplace = True) 
# club_career는 '동명이인 3차 업데이트' 버전과 '동명이인 1차 업데이트' 버전이 헷갈릴 수 있으므로 추후에 또 중복값 제거 필요! 
data

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
0,슈테펜 호프만,5,62,39,51,59,38,17,[]
2,J. 피에라치,5,60,59,55,68,66,18,[]
6,누어 허신,5,55,56,61,55,66,19,[]
8,브라이안 베라,5,54,67,68,60,52,21,[]
9,브라이안 베라,5,53,65,59,51,51,19,[]
...,...,...,...,...,...,...,...,...,...
97834,곤살로 아시스,5,62,68,74,61,71,LIVE,[]
97835,곤살로 아시스,5,56,56,64,55,61,18,[]
97836,마를롱 한젤,5,59,48,43,68,54,18,[]
97837,S. 쿨로비츠,5,59,34,35,56,67,19,[]
97838,M. 데이비슨,5,58,46,43,69,75,LIVE,[]

## 3-1. 동명이인 선수 정리

### 3-1-1. 동명이인 1차 업데이트 부분 제거

> '동명이인'포함된 컬럼 제거

In [178]:
# club_career에 '동명이인' 단어가 포함된 선수 찾기
same_name_group = data[data.club_career.str.contains('동명이인')]
same_name_group

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
2488,L. 홀리크,5,63,69,67,60,62,LIVE,동명이인
2490,L. 홀즈먼,5,51,48,51,60,51,LIVE,동명이인
2492,L. 홀트캄프,5,50,58,59,45,64,20,동명이인
2493,L. 홀트캄프,5,49,58,59,45,64,18,동명이인
2679,피추 아티엔사,5,62,31,33,80,51,20,동명이인
...,...,...,...,...,...,...,...,...,...
97804,마르크 아과도,5,56,60,63,52,57,19,동명이인아과도
97808,D. 커킨,5,57,67,66,54,61,LIVE,동명이인D. 커
97810,M. 마이어회퍼,5,65\n(64),54,73,62,81,LIVE,동명이인M. 마이어
97816,푸환천,5,44,59,56,43,52,LIVE,동명이인푸환
97823,G. 추추키,5,49,56,51,47,50,21,동명이인추키

In [179]:
# '동명이인'단어 지워주기
same_name_group.club_career = same_name_group.club_career.str[4:]
same_name_group

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
2488,L. 홀리크,5,63,69,67,60,62,LIVE,
2490,L. 홀즈먼,5,51,48,51,60,51,LIVE,
2492,L. 홀트캄프,5,50,58,59,45,64,20,
2493,L. 홀트캄프,5,49,58,59,45,64,18,
2679,피추 아티엔사,5,62,31,33,80,51,20,
...,...,...,...,...,...,...,...,...,...
97804,마르크 아과도,5,56,60,63,52,57,19,아과도
97808,D. 커킨,5,57,67,66,54,61,LIVE,D. 커
97810,M. 마이어회퍼,5,65\n(64),54,73,62,81,LIVE,M. 마이어
97816,푸환천,5,44,59,56,43,52,LIVE,푸환
97823,G. 추추키,5,49,56,51,47,50,21,추키

In [180]:
# 동명이인 1차 업데이트 데이터 제거
condition_1 = same_name_group[same_name_group.club_career == ''].index
same_name_group.drop(condition_1, inplace = True)
same_name_group

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
22075,조지 코랄,5,64,69,70,62,65,21,조지 코랄
22076,파블로 코랄,5,61,51,44,46,75,19,파블로 코랄
22077,J. 코랄레스,5,58,56,60,56,65,20,J. 코랄레스
22079,사무 코랄,5,54,49,52,63,51,19,사무 코랄
22084,아구스틴 마르체신,18,100,64,66,66,48,21TOTS,아구스틴 마르체신
...,...,...,...,...,...,...,...,...,...
97804,마르크 아과도,5,56,60,63,52,57,19,아과도
97808,D. 커킨,5,57,67,66,54,61,LIVE,D. 커
97810,M. 마이어회퍼,5,65\n(64),54,73,62,81,LIVE,M. 마이어
97816,푸환천,5,44,59,56,43,52,LIVE,푸환
97823,G. 추추키,5,49,56,51,47,50,21,추키

### 3-1-2. 동명이인 2차 업데이트 부분 제거

> '동명이인'을 빈칸으로 바꿨을 때, 남은 이름과 name이 같은 경우 제거

In [181]:
# 동명이인 2차 업데이트 데이터 제거
condition_2 = same_name_group[same_name_group.club_career == same_name_group.name ].index
same_name_group.drop(condition_2, inplace = True)
same_name_group

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
26934,플라비우 파이샹,5,64\n(65),63,58,65,61,LIVE,플라비우
26938,플라비우 크리스토방,5,53,58,56,63,61,19,플라비우
26959,C. 카스트로 데베니시,5,60,44,39,68,51,LIVE,C. 카스트로
26960,C. 카스트로 데베니시,5,56,46,44,65,51,20,C. 카스트로
27056,L. 모랄레스,5,66\n(65),64,60,70,76,LIVE,L. 모
...,...,...,...,...,...,...,...,...,...
97804,마르크 아과도,5,56,60,63,52,57,19,아과도
97808,D. 커킨,5,57,67,66,54,61,LIVE,D. 커
97810,M. 마이어회퍼,5,65\n(64),54,73,62,81,LIVE,M. 마이어
97816,푸환천,5,44,59,56,43,52,LIVE,푸환
97823,G. 추추키,5,49,56,51,47,50,21,추키

### 3-1-3. 동명이인 3차 업데이트 부분 수정

> 1 & 2차 업데이트 데이터를 제외한 데이터의 club_career의 리스트를 뽑아 중복값을 제거하여 잘못 입력된 선수 데이터들을 찾는다.

In [186]:
same_name_list = list(set(same_name_group.club_career))
same_name_list

['C. 이바라',
 '카르바할',
 '정훈',
 'J. 카다',
 'L. 발스',
 '차오양',
 'S. 텔',
 '정운',
 '다미아',
 'I. 마타',
 '알프레드',
 '윌리앙',
 '로메로',
 '페테르',
 '조나타스',
 '우레냐',
 '룰로',
 'M. 모로',
 '마르쿠',
 '위빈',
 '푸엔테스',
 '올렉',
 '다미안',
 'M. 팔',
 '페르난두 ',
 '매카이',
 '페드라사',
 '브라가',
 'A. 그리브',
 '발베르데',
 '아길레라',
 '발린',
 '바르지',
 'L. 스토',
 '비티',
 '쿠카',
 '지안',
 '알라르콘',
 '클라우스',
 'I. 디오',
 '조조',
 '노엘',
 '로스',
 'B. 라이트',
 '모리야스',
 'L. 파베스',
 'J. 호지',
 '비초',
 '자오후이',
 '탈리스',
 'J. 빌',
 '멘디',
 '카이키',
 'J. 포드',
 'L. 헤르만',
 'A. 알감디',
 'A. 사르',
 'H. 니',
 '왕 페이',
 '알폰소',
 '치키',
 '카피타',
 '앤드루',
 '부쉬',
 'J. 리',
 '나우엘',
 '굴라르',
 '메시아스',
 '마리아노',
 'K. 애덤스',
 '리 마틴',
 '수아리스',
 'J. 제이',
 'R. 크리스토',
 '로바토',
 '펠레',
 '모레노',
 '세오아네',
 '라몽',
 '쿠베로',
 'Y. 무사',
 '시토',
 'K. 바르가',
 '피나',
 '수소',
 'G. 몰린',
 'D. 닐',
 '카무스',
 '엘리엇 리',
 '오스카르',
 '디에고',
 'D. 브라운',
 '샘 존스',
 'F. 융',
 '마이켈',
 'S. 카마라',
 'T. 알리',
 'J. 바카',
 '후징',
 '루이스 존',
 '키케',
 '제임스 볼',
 '세카',
 '제임스 힐',
 'M. 버스토',
 'A. 볼',
 'S. 바',
 'E. 달',
 'L. 홀',
 'T. 소머',
 '바그네르',
 '앙굴로',
 '알렉스 살라',
 '호세마',
 '로드리',
 '다니',
 '데를레이',
 '제르송',
 '조던 홀',
 '장츠',
 'O. 바',
 '크리스티안',
 '제이슨 커',
 '아손',
 'K. 쿠아시',
 '아구스',
 '칼데론',
 '안투네스',
 '루카스',
 '장샤오',
 'N. 마이',
 '호아킨',
 '이바녜스',
 '하울',
 '크리스티아누',
 '리펑',
 '아레소',
 '요안 카바예',
 '알폰',
 '페르난지뉴',
 'S. 페트',
 'P. 팔라시오',
 '아기레',
 '도메',
 '차펠라',
 '마누',
 '마를롱',
 '장진',
 'M. 에드워즈',
 '아티엔사',
 'D. 살리',
 'A. 콘트레라',
 'J. 싱',
 '피케',
 '말로니',
 '두크',
 '야코브 린네',
 '엑토르',
 '보니야',
 '찰리',
 '페데',
 '카치',
 'J. 리오스',
 '모라',
 '브레네르',
 '마시엘',
 '조바니',
 '루이스 길',
 'S. 마이어',
 '이시',
 'K. 모하메',
 '고메스',
 '메드란',
 'A. 바치',
 '아신',
 'A. 파슈',
 'P. 마이',
 'A. 몰리나',
 '류위',
 '바예호',
 'A. 고메스',
 '아브라함',
 '리키',
 '호드리기스',
 '클레베르',
 '로베르',
 'R. 크리스티',
 '아로요',
 'K. 바',
 '리스 버크',
 '제레미',
 '이판',
 '코피',
 '그리고리',
 '장민',
 '베니토',
 '제카',
 '마를론',
 '자일',
 'D. 나바',
 '마넬',
 '다리오',
 'J. 에마누엘',
 '바케로',
 '칼레로',
 'K. 보이',
 '마리뉴',
 'B. 메이어',
 '차베라',
 '모모',
 '달리',
 '조니',
 '몰리나',
 'F. 카라',
 'P. 바',
 '마요르',
 'J. 거',
 '잭 리',
 '요렌테',
 '에리크',
 '코스티냐',
 '위하오',
 '몬토야',
 '네투',
 '에베르',
 'B. 팔',
 '페냐',
 'B. 토머스',
 'D. 긴도',
 '마르코스',
 '바코',
 '에레로',
 '로베르토',
 '데라푸엔테',
 'N. 오로스',
 '후안호',
 'J. 문',
 '위양',
 '에스쿠데로',
 '데니우송',
 '모르시요',
 'M. 룬',
 'R. 루이스',
 '가브리엘',
 'A. 크리스',
 'A. 가브리엘',
 '프란세스',
 '지오구',
 '카날레스',
 'M. 레시',
 '렐루',
 '페드리',
 '마르키뉴스',
 'A. 마시',
 '파비아누',
 '와타루',
 '소자',
 '파스트라나',
 '두두',
 '타르델리',
 '우고',
 '레안드로',
 '로라',
 '히카르두',
 '파블루',
 'J. 헐',
 '리카르드',
 '주니오',
 '테야도',
 '실라스',
 '로페즈',
 'A. 첼리',
 'E. 칼',
 '바로우',
 '안드레 루이스',
 '루이스미',
 '베투',
 '마우루',
 'R.로',
 'M. 톨',
 '엔리케',
 '고리',
 'A. 살라',
 '페르난두',
 'A. 알부',
 '피지',
 '부라',
 'J. 로런스',
 '이호',
 '가르시아',
 'J. 체',
 'M. 욘',
 'E. 우준',
 '제이슨 로',
 '최준',
 'A. 체르빈',
 '안드레 한',
 '헤세',
 '토티',
 '안데르송',
 '카바예로',
 'J. 펜',
 'D. 미',
 'M. 카네',
 '에르네스토',
 'D. 베리',
 '레예스',
 '모이타',
 '마노엘',
 '리차드',
 '부에노',
 '알레프',
 '다닐로',
 '보르야',
 '장웨이',
 '푸에르타스',
 'J. 랑',
 '비게라',
 '라스',
 'T. 라이트',
 '포르투',
 '알렉산더 바',
 '천제',
 'M. 마카리',
 '벤 폴',
 'R. 리오스',
 '데펜디',
 'V. 룬',
 '엔리키',
 'M. 페레스',
 '우시',
 '파셰쿠',
 '아과도',
 '쉬양',
 '토체',
 'C. 클레이',
 '파루',
 'D. 커',
 '그랜트',
 'B. 루',
 '산 로만',
 'A. 로이',
 '비니시우스',
 'J. 바르가',
 'M. 마이어',
 '알란',
 '푸환',
 '주니우',
 '헤쿠',
 '아이토르',
 '브라힘',
 '파브레가',
 '나노',
 'A. 팔라타',
 '마테오',
 '웰링통',
 '추키',
 '산드루',
 '데이비슨',
 '장청',
 '아람바리',
 '마르틴 바라',
 '알렉산드로',
 '페드로사',
 '프레드',
 '캄포스',
 '궈량',
 '티아고',
 '기예르모',
 'G. 페라리',
 'A. 시',
 '미카',
 'N. 팔라시오',
 '오타비우',
 'F. 로드리게스',
 '천푸',
 'D. 그레이',
 '카라바',
 'A. 알 술탄',
 'C. 던',
 '베르나르두',
 '정즈',
 '천지',
 'M. 케이',
 'R. 레데스',
 'F. 홀스트',
 'S. 포드',
 '타치',
 '디오니',
 '사미',
 '윌 딘',
 '발레아',
 'M. 아르슬란',
 '웨이펑',
 'J. 토레스',
 '하파엘',
 '압둘 라자크',
 '마리오',
 '발레리',
 'L. 로페스',
 '에라소',
 '주엘',
 '제제',
 '벤 홀',
 'J. 벤',
 '막스웰',
 'A. 오도',
 '시푸',
 '코르데로',
 '아리',
 '에베르트',
 'B. 스펜서',
 '베니',
 '베냐트',
 '루키냐',
 '천쩡',
 'A. 로시',
 '장샹',
 '다닐루',
 '바르베로',
 '곤살로',
 '왕웨이',
 '호세다',
 'Z. 오',
 '바이양',
 'M. 브룬',
 'R. 로페스',
 '킨타니야',
 'B. 리베로',
 '김신',
 'J. 캠벨',
 'J. 루이스',
 '왕둥',
 '모사',
 'M. 모리',
 'J. 갈',
 '에릭',
 'F. 델리',
 '코페테',
 'C. 쿠에바',
 '아란',
 '다보',
 '팔라시오스',
 '조나탄',
 'F. 파체',
 '롭 홀',
 '마르틴',
 '왕추',
 '저우정',
 '대런 콜',
 '아론',
 '주니뉴',
 '이스마일리',
 '마타',
 '피델',
 '왈도',
 '카르모나',
 '아시에르',
 'D. 리드',
 '게드스',
 'D. 제임스',
 '마이크 ',
 '호세 발',
 '리카',
 '조프레',
 '파르도',
 'L. 크루스',
 '보얀',
 '레하',
 'L. 모',
 '토레혼',
 'L. 마이',
 '바실리오',
 '그라네로',
 '타나',
 '제이슨',
 '우가르테',
 '오르투뇨',
 '소아리스',
 'A. 폴리',
 '데코',
 '카이우',
 '장리',
 'S. 페리',
 '앙토니 로지',
 '히카르두 바스',
 '다 코스타',
 '네네',
 '라이코',
 '체르노',
 'M. 카바',
 '자우메 ',
 '베르사',
 '세케이라',
 'H. 그린',
 '칼린지',
 '엘루스톤도',
 '베르나르도',
 '카밀루',
 '페드로',
 'C. 로',
 'G. 코르테',
 'M. 라도',
 '콘차',
 '피테',
 '바스티다',
 '자이르',
 'B. 로',
 '이용',
 '파비안',
 'C. 야코브',
 '김찬',
 'C. 마르티네스',
 'C. 사모라',
 '장루',
 '케코',
 '치아구',
 '프레디',
 '마사',
 'J. 호프만',
 'M. 로드리게스',
 '파비우',
 '지미',
 '하비 게라',
 '페우',
 '케빈',
 '브루누',
 '김현',
 '멜렌데스',
 '두아르테',
 '카테나',
 'N. 모스',
 'J. 로페스',
 '길레르미 ',
 '루이스 카스',
 '시모',
 'A. 도니',
 'A. 리스',
 '루벤',
 '구스타부',
 '시드네이',
 '도글라스',
 'M. 페레이라',
 '안드레',
 '트레제게',
 'J. 페레이라',
 'A. 곤살레스',
 'E. 카라',
 '라이언 로',
 '스커',
 '리하오',
 '에스테베',
 'M. 바',
 '리루이',
 '칼럼 로',
 '야콥 부스',
 'C. 올리베이라',
 'N. 베츠',
 '팔리',
 '오이에르',
 '마가',
 'M. 바르',
 '단테',
 'J. 킨테로',
 '바스투스',
 'T. 베르텔스',
 'R. 루나',
 'A. 린',
 'C. 타보',
 '이스마엘',
 'S. 안',
 'M. 카스트로',
 '가비',
 'B. 반',
 '더글라스',
 'A. 테일러',
 '킹',
 'A. 폰타나',
 'S. 마이',
 '모리야',
 '아길라르',
 'B. 바',
 'T. 갈',
 '후안마',
 'T. 에이브러햄',
 '이건',
 '에론',
 'F. 란',
 'M. 호프',
 'A. 잭슨',
 '루포',
 '미게',
 '바이아누',
 '비토',
 '미니',
 '에두아르두',
 '이텅',
 'J. 러셀',
 '우레이',
 'M. 알루바이',
 '보보',
 'S. 마라',
 '이나시우',
 '안디',
 '나초',
 'A. 에릭손',
 'M. 보스',
 'H. 루이스',
 'A. 로리',
 '알베르토',
 '스옌',
 'J. 밤',
 '조타',
 '에드가',
 '데니스',
 '티토',
 'S. 로사',
 '멜루',
 'B. 라이언스',
 '이부',
 'M. 알 라시디',
 'L. 헤이',
 '조주에',
 'L. 시',
 '인제',
 'M. 술레',
 '나누',
 '이우통',
 '카카',
 '캄푸사노',
 'M. 마르틴',
 'S. 수마',
 '올라베',
 '위전',
 '안토니',
 '셀루',
 'F. 알샤마리',
 '다비드 코스타',
 'J. 가르시아',
 '나이얼 맥긴',
 '키키',
 'E. 아데바요',
 '베베',
 'M. 바실',
 '카파',
 'J. 벨',
 '대니 로',
 '구티',
 'D. 모스',
 '카리요',
 '윌리',
 'A. 호프',
 '길레르미',
 'J. 라우',
 '노노',
 '프란시스',
 '물라',
 '로드리고',
 '스저',
 'C. 우',
 '막스',
 'D. 로',
 '페드루',
 'H. 리',
 'A. 알리',
 '쿠비',
 '말론',
 '과르디올라',
 '갈베스',
 '카로',
 '알바로',
 '보바디야',
 'J. 마셜',
 'F. 프라이',
 '길례르미',
 'R. 가브리엘',
 '에우통',
 '필리피',
 'M. 얀센',
 'M. 틸',
 '파우캉',
 'R. 라마',
 '테테',
 '조나스',
 '헤이스',
 'K. 리스',
 '레오 슈',
 '세사르',
 '마티아스',
 '루이스 디아스',
 '얀',
 '제랄두',
 '비톨로',
 'M. 라이히',
 '하노',
 '이준',
 'A. 멘데스',
 '레시오',
 '류빈',
 'D. 클라인',
 '에메르손',
 '모야노',
 '호브송',
 'H. 닐',
 '장위',
 'G. 코스타',
 '체체',
 '리엄 밀러',
 '사울',
 '장',
 '오닐',
 '쿠티뉴',
 '지우',
 'K. 라드',
 'S. 아메드',
 'N. 프레이',
 '아르투르',
 'A. 마키',
 '베르나',
 'C. 트레호',
 '에델',
 'P. 페리',
 '프란',
 '천룽',
 '벨만',
 '리커',
 '차오성',
 '콘트레라스',
 'J. 벨라',
 '마토스',
 '알렉스',
 '피레스',
 '마테우스',
 '사미르',
 'A. 던',
 '솔라',
 '로제르',
 '볼라뇨',
 '이스마',
 'A. 시마',
 '마르티네스',
 'R. 알감디',
 '루이스 로드리게스',
 'M. 아시',
 '베르메호',
 '에르난',
 '키쿠',
 '구스타보',
 'A. 곤살베스',
 '알프레도',
 '박건',
 '마르토스',
 'A. 델피',
 '두자',
 '곤살루',
 '모하',
 'M. 맥도널',
 '리시치',
 '브루노',
 'J. 키뇨네스',
 '류이',
 'L. 카리소',
 '오데이',
 'D. 미토프',
 'C. 곤살레스',
 '페페',
 'M. 알부라이흐',
 'G.코르테스',
 '마요랄',
 '게레로',
 'A. 라이',
 '캄파냐',
 '리다',
 '훌렌',
 '무니르',
 '리나레스',
 '만디',
 '호드리구',
 'A. 칼리',
 '로렌시',
 'S. 디아라',
 '일리아스',
 '투타',
 '알파로',
 '하미레스',
 '라울',
 '아마야',
 '펠라요',
 '이리온도',
 '루소',
 '바레네체아',
 'S. 벨',
 'B. 수',
 '마티야',
 '세드리크',
 '사비우',
 '콰레스마',
 '이드리스',
 '살라사르',
 '시스코',
 '아마두 디아',
 '네리스',
 '나니',
 '지오바니',
 '호나우두',
 '파트리크',
 '윌리안',
 '플라비우',
 '카사데수스',
 '클라베리아',
 '조나',
 '바라간',
 'S. 피시',
 'C. 험프리스',
 '주제',
 '리켈메',
 'J. 베리',
 '리파',
 '헤르만',
 'A. 바',
 '라이언 잭',
 'C. 카스트로',
 'J. 무어',
 'T. 할',
 'L. 소토',
 '카마초',
 'G. 카스트로',
 '앙헬',
 '이아구',
 'C. 수아레',
 'J. 반스',
 '베론',
 '알렉시스',
 'F. 플로',
 '루나',
 '마호니',
 '니콜라스',
 'J. 린',
 '로렌',
 'A. 콜',
 '하말류',
 'B. 피게로',
 '마이클 존스',
 'A. 달',
 '마디',
 'P. 아브라함',
 '메리노',
 'M. 슈베르',
 '타르시',
 '피타',
 '안토닌',
 '밀송',
 '발레라',
 'D. 포파',
 'A. 스미스',
 '알랑',
 '이반',
 'L. 하라',
 '미첼',
 'J. 디아스',
 '발로텔리',
 '오리베',
 '웨슬리',
 'B. 하인',
 '미하엘 랑',
 '후앙',
 '포소',
 'K. 톰슨',
 'E. 존스',
 '롤로',
 '에르나니',
 '이지우',
 '루카스 칼',
 '바렐라',
 'L. 레이',
 '장웨',
 '올긴',
 '브란당',
 'D. 필라',
 '크리스',
 'A. 바리',
 '메히아스',
 '세자르',
 '왕하오',
 '호마리우',
 '아브람',
 '리온']

In [182]:
# 동명이인 선수를 제외한 선수 데이터 추출 
not_same = data[~data.club_career.str.contains('동명이인')]
not_same

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
0,슈테펜 호프만,5,62,39,51,59,38,17,[]
2,J. 피에라치,5,60,59,55,68,66,18,[]
6,누어 허신,5,55,56,61,55,66,19,[]
8,브라이안 베라,5,54,67,68,60,52,21,[]
9,브라이안 베라,5,53,65,59,51,51,19,[]
...,...,...,...,...,...,...,...,...,...
97834,곤살로 아시스,5,62,68,74,61,71,LIVE,[]
97835,곤살로 아시스,5,56,56,64,55,61,18,[]
97836,마를롱 한젤,5,59,48,43,68,54,18,[]
97837,S. 쿨로비츠,5,59,34,35,56,67,19,[]
97838,M. 데이비슨,5,58,46,43,69,75,LIVE,[]

In [196]:
for i in tqdm(range(len(not_same))):
    if not_same.name.iloc[i] in same_name_list:
        not_same['OX'] = 'O'
    else:
        not_same['OX'] = 'X'

  0%|          | 0/50277 [00:00<?, ?it/s]

In [188]:
condition_3 = not_same[not_same.name not in same_name_list].index
worng_club_career = not_same.drop(condition_3, inplace = False)
worng_club_career

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [173]:
len(player_name)

59051

In [ ]:
# 완전 동명이인은 시즌으로 비교 (중복시즌)

## 3-2. 클럽 커리어 정리

In [ ]:
# 데이터 확인
data['club_career'].value_counts().to_frame()

In [ ]:
# 동명이인 검색 & 검토 필요
# ex) 로드리고 // '로드리고 벤탕쿠르'가 더 스텟높아서 먼저 나옴
# 이재성,호나우두,정우영 >> 완전 일치하는 동명이인 어떻게??

In [ ]:
same_name_group = data['club_career'].str.contains('동명이인')
same_name_group

## 3-3. 라이브 부스트 효과 제거

In [132]:
# 데이터 확인
data['overall'].value_counts().to_frame()

          overall
59           2658
58           2550
57           2376
60           2373
56           2226
...           ...
50\n(47)        1
97\n(90)        1
82\n(75)        1
89\n(86)        1
66\n(58)        1

[359 rows x 1 columns]

In [133]:
# 라이브 부스트 효과 받는 row 추출
live_boost_data = data[(data['overall'].str.contains('\n'))]
live_boost_data

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
17,키어런 그린,5,56\n(54),59,61,63,77,LIVE,[]
19,박주원,5,60\n(59),44,43,60,33,LIVE,"['2013 ~ 2022 / 충남 아산 축구단', '2017 ~ 2018 / 대전 ..."
30,에반 은디카,16,90\n(89),93,84,91,86,22PLA,['2017 ~ 2018 / 아인트라흐트 프랑크푸르트']
32,에반 은디카,7,75\n(74),78,69,76,71,LIVE,['2017 ~ 2018 / 아인트라흐트 프랑크푸르트']
34,K. 애덤스 누후,5,65\n(64),61,59,84,62,LIVE,[]
...,...,...,...,...,...,...,...,...,...
56337,조나탕 이코네,7,73\n(72),83,84,52,68,LIVE,동명이인조나
56339,조나탕 클로스,6,72\n(71),77,79,60,82,LIVE,동명이인조나
56341,조나탕 그라디,5,71\n(69),69,70,74,72,LIVE,동명이인조나
56363,조나탄 오키타,5,64\n(63),79,77,67,69,LIVE,동명이인조나
56370,F. 하데르조나이,5,63\n(64),74,74,58,77,LIVE,동명이인조나

In [134]:
# 라이브 부스트 받기 전/후 차이 구하기
def find_gap(num):
    LBD = live_boost_data['overall'].iloc[num].replace(')','').replace('(','').replace('\n','-')
    LBD_split = LBD.split('-')
    original_overall = LBD_split[1]
    gap = int(LBD_split[0]) - int(LBD_split[1])
    
    return gap, original_overall

# 라이브 부스트 받기 전 값으로 입력해주기
def remove_live_boost(original_overall,gap,num):
    live_boost_data['pay_side'].iloc[num] = str(live_boost_data['pay_side'].iloc[num])
    live_boost_data['overall'].iloc[num] = str(original_overall)
    live_boost_data['Sprint_speed'].iloc[num] = str(int(live_boost_data['Sprint_speed'].iloc[num]) - gap)
    live_boost_data['Acceleration'].iloc[num] = str(int(live_boost_data['Acceleration'].iloc[num]) - gap)
    live_boost_data['Strength'].iloc[num] = str(int(live_boost_data['Strength'].iloc[num]) - gap)
    live_boost_data['Stamina'].iloc[num] = str(int(live_boost_data['Stamina'].iloc[num]) - gap)

In [135]:
# 라이브 부스트 효과 제거 및 data 
# 업데이트
for num in range(len(live_boost_data)):
    gap, original_overall = find_gap(num)
    
    remove_live_boost(original_overall,gap,num)

data.update(live_boost_data)
data

  0%|          | 0/4323 [00:00<?, ?it/s]

,name,pay_side,overall,Sprint_speed,Acceleration,Strength,Stamina,season,club_career
0,슈테펜 호프만,5,62,39,51,59,38,17,[]
1,조 에드워즈,5,60,62,64,65,83,LIVE,[]
2,J. 피에라치,5,60,59,55,68,66,18,[]
3,김도훈,21,99,96,89,106,90,TKL,"['1995 ~ 2002 / 성남 FC', '1998 ~ 1999 / 전북 현대 모..."
4,김도훈,17,88,84,77,97,86,TKI,"['1995 ~ 2002 / 성남 FC', '1998 ~ 1999 / 전북 현대 모..."
...,...,...,...,...,...,...,...,...,...
56443,E. 마스트롤리아,5,58,43,45,52,41,18,[]
56444,F. 프로이아,5,60,71,64,70,65,LIVE,[]
56445,F. 프로이아,5,60,67,64,68,65,19,[]
56446,E. 스파고,5,52,63,54,64,62,21,[]
56447,마드헤르 고메스,5,55,67,67,55,59,21,[]